@charset "UTF-8";

/* quicksand-regular - latin */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(/fonts/quicksand-v7-latin-regular.woff2?3f178e7b1a044e97e6ddf420f30e881b) format("woff2"), url(/fonts/quicksand-v7-latin-regular.woff?c52f5f2137c2d1fc2ae262930004f5b2) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-500 - latin */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url(/fonts/quicksand-v7-latin-500.woff2?dce202681ee1fcdbdaf352303a4f383e) format("woff2"), url(/fonts/quicksand-v7-latin-500.woff?54a1d8fd5ec42b1397b6704a73ffde2c) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url(/fonts/quicksand-v7-latin-700.woff2?8ec608d5ec889469c1ce8b70e06bdec2) format("woff2"), url(/fonts/quicksand-v7-latin-700.woff?5cd19d36644dd28273fee690829842fd) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #FDFDFD;
  font-size: 1.15rem;
  line-height: 1.4;
  margin: 0;
  background: #304270;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left bottom, right top, from(#464260), to(#304270));
  background: linear-gradient(to right top, #464260, #304270);
}

.collapsed {
  display: none;
}

.navbar {
  background: none;
}

a,
a:visited {
  text-decoration: none;
  color: #03aaf0;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

a:hover,
a:active {
  color: #8eddfe;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.navbar-brand {
  padding: 1rem;
  color: #FDFDFD;
  display: inline-block;
  font-size: 1.5rem;
}

.high {
  color: #ab78c9;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}

