.container {
  max-width: 80%;
}
.navbar-nav {
  display: block;
}
.navbar-default{
  padding-bottom: 2rem;
}
nav .container {
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.navbar-nav {
  display: flex;
  li {
    padding: 1rem;
  }
}

.centered-panel .panel {
  max-width: 500px;
}

div[class^="panel-"] {
  padding:1.5rem;
}

.actions-panel > *{
  display: initial;
  margin: 0;
  text-align: left;
}

.actions-panel{
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.actions-panel.reverse{
  flex-direction:row-reverse;
}

.centered-panel {
  padding-top: 3rem;
}

.track-form {
  .actions-panel,
  .form-control{
    display: inline-block;
  }
}

.row{
  display: flex;
  padding: 2rem 0;
}

.fifty{
  &>div:nth-child(1){
    flex:1;
    margin-right: 2rem;
  }
  &>div:nth-child(2){
    flex:1
  }
}